ul {
    display: flex;
    list-style: none;
  }
  li {
    margin: 0 1rem;
    position: relative;
  }
  
  a {
    display: block;
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    color: #f38181;
  }
  a::after {
    content:"";
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    background: #f38181;
    transition: width .5s, left .5s;
    right: 0;
  }
  
  a:hover::after {
    width: 100%;
    left: 0;
  }